@font-face {
    font-family: 'Joystix';
    src: url('../fonts/joystix.otf') format('opentype');
}

/* Base Styles */
body {
    font-family: 'Joystix', sans-serif;
    background: #8c7b9b url(/static/images/fade.png) top center repeat-x;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

textarea, input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Joystix', sans-serif;
}

input {
    height: auto; /* Adjusting input height */
    padding: 10px;
}

textarea {
    height: 100px;
}

button {
    font-family: 'Joystix', sans-serif;
    display: block;
    padding: 10px 20px;
    margin: 4px 2px;
    background-color: #232323;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: #918bc0;
}

button:active {
    background-color: #32213A;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

/* Upload button */

.button-like {
    display: inline-block;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}

.button-like:hover {
    background-color: #AFD5AA;
}

.button-like:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}


/* Navbar Styles */
.navbar {
    text-align: center;
    margin-bottom: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Content Styles */
.content {
    max-width: 600px;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.ascii-art {
    font-family: monospace; /* Ensures the ASCII art displays correctly */
    white-space: pre; /* Preserves the formatting */
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow as needed */
}

/* Post Styles */
li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #2e2e2e;
    position: relative;
}

li:hover {
    background-color: #353B3C;
}

li + li {
    margin-top: 20px;
}

.post {
    position: relative;
    padding-bottom: 10px; /* Add padding to make space for the button */
}

.post-header, .comment-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.post-info, .comment-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-username, .comment-username {
    font-weight: bold;
}

.post-timestamp, .comment-timestamp,
.post-id, .comment-id {
    justify-content: flex-end;
    color: #aaa;
}

.post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0 #000000;
}

.post-content {
    margin-bottom: 20px;
}

.green-text {
    color: green;
}

.expand-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #918bc0;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    box-shadow: 0 2px #666;
    text-decoration: none;
}

.expand-button:hover {
    background-color: #a79dcf;
}

.expand-button:active {
    background-color: #a79dcf;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.divider {
    height: 1px;
    background-color: #F0F2EF;
    margin: 10px 0; /* Adjust the margin as needed */
}

.accordion .baffle {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.accordion input[type="radio"] {
    display: none;
}

.accordion input[type="radio"]:checked + label + .baffle {
    height: 10em; /* Adjust the height as necessary */
}

.accordion label {
    display: block;
    cursor: pointer;
    padding: 1em;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
}

.accordion .baffle-inner {
    padding: 1em;
    border: 1px solid #ddd;
}

 /* Customize the label (the container) */
 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #6B8F71;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 