{% extends "base.html" %}
{% block title %}mycelium.social{% endblock %}
{% block content %}
    <h1 class="text-shadow">about</h1>
    <pre class="ascii-art text-shadow">
         ███▄ ▄███▓▓██   ██▓ ▄████▄  ▓█████  ██▓     ██▓ █    ██  ███▄ ▄███▓
        ▓██▒▀█▀ ██▒ ▒██  ██▒▒██▀ ▀█  ▓█   ▀ ▓██▒    ▓██▒ ██  ▓██▒▓██▒▀█▀ ██▒
        ▓██    ▓██░  ▒██ ██░▒▓█    ▄ ▒███   ▒██░    ▒██▒▓██  ▒██░▓██    ▓██░
        ▒██    ▒██   ░ ▐██▓░▒▓▓▄ ▄██▒▒▓█  ▄ ▒██░    ░██░▓▓█  ░██░▒██    ▒██ 
        ▒██▒   ░██▒  ░ ██▒▓░▒ ▓███▀ ░░▒████▒░██████▒░██░▒▒█████▓ ▒██▒   ░██▒
        ░ ▒░   ░  ░   ██▒▒▒ ░ ░▒ ▒  ░░░ ▒░ ░░ ▒░▓  ░░▓  ░▒▓▒ ▒ ▒ ░ ▒░   ░  ░
        ░  ░      ░ ▓██ ░▒░   ░  ▒    ░ ░  ░░ ░ ▒  ░ ▒ ░░░▒░ ░ ░ ░  ░      ░
        ░      ░    ▒ ▒ ░░  ░           ░     ░ ░    ▒ ░ ░░░ ░ ░ ░      ░   
               ░    ░ ░     ░ ░         ░  ░    ░  ░ ░     ░            ░   
                    ░ ░     ░                                               
   </pre>
    <br>
    <ul><li class="post">
    <p>Mycelium is a static, text-based discussion board inspired by 2chan, a Japanese imageboard.</p><br>
    <p>Japanese:</p> 
    <p>ふたば(双葉)☆ちゃんねる</p>
    <p>Rōmaji:</p> 
    <p>Futaba Channeru </p>
    <p>"Double Leaf Channel"</p>
    <p>"Two Leaf Channel"</p>
    <p>or Futaba for short,</p><br>
    <p>also sometimes called 2chan.</p><br>
    <p>Users of the website can upload pictures and discuss a wide variety of topics, from daily personal problems to sports, ramen, otaku and underground culture. </p><br>
    <p>It's like 2005 again!</p>
    </ul></li>
    <p style="text-align: center;">Made with ♥ by Tekkadan</p>
    <div class="divider"></div>
    <div class="navbar">
        <a href="{{ url_for('index') }}" class="text-shadow">Home</a>
        /
        <a href="{{ url_for('about') }}" class="text-shadow">About</a>
        /
        <a href="{{ url_for('faq') }}" class="text-shadow">FAQ</a>
    </div>
{% endblock %}